<div class="container" id="sign-edit-form">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <h3>User Edit</h3>

      <%= bootstrap_form_for(resource,
                             as: resource_name,
                             url: registration_path(resource_name),
                             html: { method: :put }) do |f| %>

        <%= f.text_field :email,
                         placeholder: 'email',
                         class: 'form-control' %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <%= f.password_field :password,
                             placeholder: 'password',
                             class: 'form-control' %>

        <%= f.password_field :password_confirmation,
                             placeholder: 'password confirmation',
                             class: 'form-control' %>

        <%= f.submit 'Update', class: 'btn sign-up-button' %>
      <% end %>

    </div>
  </div>
</div>
