<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
  <h1>ユーザー名：<%= current_user.username %></h1>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'サインアップ', new_user_registration_path %>
  <%= link_to 'ログイン', new_user_session_path %>
<% end %>
<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>ユーザーID</th>
      <th>タイトル</th>
      <th>内容</th>
      <th>作成日</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.user_id %></td>
        <td><%= link_to article.title, article %></td>
        <td><%= article.body %></td>
        <td><%= article.created_at %></td>
        <td>
        <% if article.user_id === current_user.id %>
          <%= link_to 'Edit', edit_article_path(article) %>
          <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



<!-- <% @articles.each do |article| %>
  <div id="article">
    「<%= link_to article.title, article %>」<br>
    <%= article.body %><br>
    <%= link_to 'Edit', edit_article_path(article) %>
    <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %> -->

<br>

<%= link_to 'New Article', new_article_path %>
