<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
  <h1>ユーザー名：<%= current_user.username %></h1>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'サインアップ', new_user_registration_path %>
  <%= link_to 'ログイン', new_user_session_path %>
<% end %>
<h1>Articles</h1>

<% @articles.each do |article| %>
  <div id="article">
    「<%= link_to article.title, article %>」<br>
    <%= article.body %><br>
    <%= link_to 'Edit', edit_article_path(article) %>
    <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
<table>

<br>

<%= link_to 'New Article', new_article_path %>
