<!DOCTYPE html>
<html>
  <head>
    <title>DocNote</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <div class="wrapper">
    <%= render 'layouts/navigation' %>

    <div class="container <%= controller.controller_name %>-<%= controller.action_name %>">

      <% flash.each do |name, msg| %>
          <%= content_tag(:div, msg, class: "alert alert-info", id: "notice") %>
      <% end %>

      <%= yield %>

    </div>

    <script>
      $( document ).ready(function() {
        $('#notice').fadeOut(5000);
    });
    </script>
  </div>
  </body>
</html>
